.select2OptionPicker strong {
  display: block;
  clear: left;
  padding-top: 5px;
}

.select2OptionPicker ul {
  list-style-type: none;
  clear: left;
  margin: 5px;
  padding: 0;
}

.select2OptionPicker li, .select2OptionPicker a {
  float: left;

}

.select2OptionPicker li {
 background:#73716e;
  margin-right:20px; 
}



.select2OptionPicker li:last-child { 
  margin-right: 0; 
}

.select2OptionPicker a {
  color: #fff;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;  
}

.select2OptionPicker .disabled span {
  padding: 4px;
  display: block;
  font-size: 15px;
  min-width: 37px;
}


.select2OptionPicker a:hover, 
.select2OptionPicker .picked {
  background: #d64635;
  text-decoration: none;
   color: #FFF;
}

.select2OptionPicker .limited a, 
.select2OptionPicker .disabled {
  text-align: center;

}

.select2OptionPicker .disabled {

  color: #999;
}

